{% extends "main.html" %} {% block content %} {% include "header.html" %}
<h5> Delete category {{category.name}}? </h5>

<form action="#" method='post'>

    <button type="submit" class="btn btn-default delete light-blue darken-1" id="submit" type="submit">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
    <a href="{{url_for('showCategories')}}">
        <button class="btn btn-default delete light-blue darken-1">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
    </a>

</form>

{% endblock %}